
    #id2{background-color:rgb(239, 214, 141); 
        height: 200px; width: 200px; color: black; font-size: 25px; }
    #span1{background-color:rgb(223, 177, 222); 
        height: 200px; width: 200px; color: black; font-size: 25px; overflow: hidden;}
    .divcls1{background-color:rgba(123, 228, 233, 0.879); 
        height: 200px; width: 200px; color: black; font-size: 25px;}